<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
</head>
<body>

    <form th:action="@{/books/sort-reviews/{id}(id=${bookReviews.get(0).getBook().getId()})}" method="GET">
        <label>From</label>
        <input name="timeFrom" type="datetime-local">
        <label>To</label>
        <input name="timeTo" type="datetime-local" >
        <input type="hidden" name="bookId" th:value="${bookReviews.get(0).getBook().getId()}" >
        <button type="submit" >Submit</button>
    </form>

    <h1 th:text="'Review for ' + ${bookReviews.getFirst().getBook().getTitle()}" ></h1>

    <div>
        <h4>Description</h4>
        <p th:each="review : ${bookReviews}" th:text="${review.getDescription()}" ></p>

        <h4>Score</h4>
        <p th:each="review : ${bookReviews}" th:text="${review.getScore()}" ></p>

        <h4>Overall score</h4>
        <p th:text="${overallScore}"></p>
    </div>

    <a th:href="@{/books}" >Back to book list</a>

</body>
</html>